extends ../layout/layout.pug

block content
  main.main
    .container
      .wrapper 
        .block 
          img(src="", alt="")
          a(href="") 
        .block2
          .block_title 
            | dkfj;sdfj;sdkj
